<mat-card>
    <mat-card-title>Dream List</mat-card-title>
    <!-- Dream list -->
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let dream of dreams">
                <a mat-button [routerLink]="['/dream-update', dream.id]">
                    <h3 mat-line>{{ dream.name }}</h3>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <!-- Add Dream -->  
    <button mat-raised-button color="primary" [routerLink]="['/dream-add']">Add</button>
</mat-card> 